.search-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(50%, 350px, 100%));
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.home-intro {
    padding: 40px;
}

.home-intro > h1 {
    color: #e22e2e;
    padding-bottom: 10px;
    font-size: 38px;
    font-weight: 800;
}

.home-intro > p {
    text-align: center;
    font-size: 18px;
    color: gray;
}


h1 span {
    color: #A90F0F;
}

.home-container .search-content h1 {
    margin-top: 20px;
}

.home-container .search-content p{
    margin-bottom: 40px;
    padding-left: 20px;
}

.home-container {
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 40px;

}

.flex-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
}
.search-content {
    flex: 50%;
}

@media (max-width: 800px) {
    .search-content, .search-image {
      flex: 100%;
    }
  }

.search-image {
    align-self: center;
    margin-top: 20px;
    flex: 50%;
    width: 100%;
}
.search-image img {
    object-fit: contain;
    width: 100%;
    border-radius: 20px;
}

.home-container a {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.hero-btn1 {
    
    border: 1px solid #A90F0F;
    color: #A90F0f;
   
}

.hero-btn2{
    background-color: #A90F0F;
    color: white;
}

.hero-btn2:hover {
    background-color: transparent;
    border: 1px #A90F0F solid;
    color: #A90F0F;
}

.home-container .banner {
    margin-top: -20px;
}