.row-posters {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 470ms;
    margin-right: 10px;
    cursor: pointer;
}

.search-row{
    flex-wrap: wrap;
}
.search-results {
    flex: 100px;
    padding: 20px;
}

.row {
    margin-left: 20px;
    color: white;
    margin-bottom: 0px;
}

.row-posters:hover{
    transform: scale(1.08);
}
.row-poster {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-poster::-webkit-scrollbar{
    display: none;
}

.row-posterLarge {
    max-height: 250px;
}

.search-results {
    max-height: 300px;
}